venv
.env
test/logs/*
test/evaluation_logs/*
test/__pycache__/*
*.pyc
test/__pycache__/*
test/__pycache__/*.pyc
**/__pycache__/
test/.test_logs/*
test/temp_files/*
test/repair_prompts/*
test/tests/temp_files/*
